<!DOCTYPE html>
<html lang="fr">
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bonjour et merci d'avoir rejoint Le Brignolais Sportif, <%= @user.name %> !</h1>
<p>Tu t'es inscrit avec l'e-mail suivant : <%= @user.email %>.
</p>
<p>
Pour accéder à ton espace, connecte-toi sur : <%= @url %>.
</p>
<p> À très vite pour de nouvelles aventures sportives dans la capitale de la Provence Verte !
</body>
</html>
