 <%# Navbar administrateur  %> 
 <%#  la notice est commune à toute les pages   %> 
<div class="container">
   <div class="row">
      <!-- Blog entries-->
      <p id="notice"><%= notice %></p>
      <h1>Articles</h1>
      <div class="col-lg-8">
         <!-- Featured blog post-->
         <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://midiminuit.media/wp-content/uploads/2020/10/Capture-decran-2020-10-22-a-09.38.27.png" alt="content" /></a>
            <div class="card-body">
               <div class="small text-muted b">January 1, 2022</div>
               <h2 class="card-title b">Titre</h2>
               <p class="card-text b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
               <a class="btn btn-primary" href="#!">Lire plus →</a>
            </div>
         </div>
      </div>
   </div>
</div>