<h1><%= @user.name %>, quelqu'un a réagi à votre commentaire !</h1>

<p><%= @comment.content %></p>
<p> Rendez-vous sur <strong><a href="<%= @url %>">Le Brignolais Sportif</a></strong> pour interagir avec la communauté du Brignolais Sportif !
