<h1><%= @user.name %>, quelqu'un a réagi à votre commentaire !</h1>
<h4><%= @comment.content %><br/>de: &nbsp<%= @comment.user.name %></h4>
<p> Rendez-vous sur <strong>Le Brignolais Sportif</strong> pour interagir avec la communauté du Brignolais Sportif !
