<div class="container">

  <div class="text-center">
		<h1>Vous pouvez consulter les archives des éditions du journal papier du Brignolais Sportif ! Cliquez !</h1>
	</div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
   
    <div class="col">
      <div class="card shadow-sm">
        <%= link_to image_tag('cover/cover1.JPG'),'https://fr.calameo.com/read/0068457552d650aa4b60e' %>
      </div>
    </div>

     <div class="col">
      <div class="card shadow-sm">
        <%= link_to image_tag('cover/cover2.JPG'),'https://fr.calameo.com/read/006845755c891fbc8046b' %>
      </div>
    </div>

     <div class="col">
      <div class="card shadow-sm">
        <%= link_to image_tag('cover/cover3.png'),'https://fr.calameo.com/read/006845755135b54d346f2' %>
      </div>
    </div>

     <div class="col">
      <div class="card shadow-sm">
        <%= link_to image_tag('cover/cover4.png'),'https://fr.calameo.com/read/006845755776c3b4d0e25' %>
      </div>
    </div>

  </div>
</div>