 /* = require_self */
 
 /* STYLE ARTICLE CARD  */

 .b
 {
    color: black;

 }


 /*
 @keyframes spin01 
{

    0%
    {
        transform: rotate(0deg);


    }

    100%
    {
        transform: rotate(360deg);
    }
}

.box .img-box

{

    position: relative;

}

 .box .img-box::before

{

    content: '';
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    height: 100px;
    width: 100px;
    border: 3px solid var(--main-color);
    animation: spin01 10s linear infinite;

}

*/