  /* ICONS WRAPPERS */
  .icons-wrapper {
    display: flex;
    align-items: center;
    margin: 32px 0;
    margin-left: 50px;
  }
  
  .icon-content {
    text-align: center;
  }
  
  .icons-wrapper .icon {
    font-size: 9.5em;
    margin: 0 24px;
  }

/* #########################################################  */

/* RESPONSIVE ICONS WRAPPERS */

  @media (max-width: 991px) { 

    .icons-wrapper{margin-left: 300px}

    @media (max-width: 767px) { 

        .icons-wrapper{margin-left: 200px}
    
       }   @media (max-width: 47px) { 

        .icons-wrapper{margin-left: 0px}
    
       }}