<footer class="bd-footer py-4 mt-4 bg-light">
    <div class="container py-4">
      <div class="row">
        <div class="col-12 col-lg-2 offset-lg-1 mb-3 mt-lg-4">
            <h5><a class="footerlink" href="#">Ils parlent de nous</a></h5>
          </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3 ">
          <h5>Team</h5>
          <ul class="list-unstyled ">
            <li><i class="fab fa-github icon text-danger"></i><a class="footerlink" href="https://github.com/LoisKOUNINEF">Loïs Kouninef</a>
            </li>
            <li><i class="fab fa-github icon text-danger"></i><a class="footerlink" href="https://github.com/Samuelkhalifa">Samuel Khalifa</a>
            </li>
            <li><i class="fab fa-github icon text-danger"></i><a class="footerlink" href="https://github.com/enzostk">Enzo Bonnet</a>
            </li>
            <li><i class="fab fa-github icon text-danger"></i><a class="footerlink" href="https://github.com/Teacher-droid">Damian Pierre</a>
            </li>
          </ul>
        </div>



        <div class="col-6 col-lg-2 mb-3">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li><a class="footerlink" href="#">80 RUE SZAMOTULY à BRIGNOLES (83170)</a>
            </li>
            <li><a class="footerlink" href="#">Téléphone</a>
            </li>
            <li><a class="footerlink" href="#">email</a>
            </li>
          </ul>
        </div>
        
        <div class="col-1 col-lg-2  col-sm-5 col-xs-5 mb-3 icons-wrapper">
        <ul class="social-links icon-content list-unstyled">
          <li><img src="https://i.imgur.com/6adz7vV.png" alt="logo"  width="70" height="70" ></li>
          	<a href="https://www.facebook.com/profile.php?id=100069786000800"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://twitter.com/lbs83170"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
             </ul>
        </div>
           
        <div class="col-12 col-lg-10 offset-lg-1 mb-3 mt-lg-4">
          <h5 class="copyright">© 2010 - 2022 Le Brignolais Sportif. All Rights Reserved. Powereb by 4MA</h5>

        </div>
      </div>
    </div>
  </footer>
<div id=scrollUp>
    <a href="#top"><img src="https://i.imgur.com/RV295Nm.png"/></a>
</div>

